.bg-center,
.bg-l-edge,
.bg-r-edge,
.bg-t-edge,
.bg-b-edge,
.bg-tl-edge,
.bg-bl-edge,
.bg-tr-edge,
.bg-br-edge,
.bg {
    &-repeat {
        -webkit-background-size: auto!important;
        -moz-background-size: auto!important;
        -o-background-size: auto!important;
        background-size: auto!important;
        background: repeat;
    }
    &-t-edge {
        background: top no-repeat;
    }
    &-dots-bg {
        background-image: url("../img/dots-bg.png");
    }
    &-lines-h2-bg {
        background-image: url("../img/lines-h2-bg.png");
    }
    &-banniere {
        background-image: url("../img/la-chouette-agence-banniere.jpg");
    }
    &-presentation {
        background-image: url("../img/image-de-presentation.jpg");
    }
}

.bgc-white {
    background-color: $color-secondary;
}

.bgc-dark-slate-blue {
    background-color: $bg-dark-slate-blue;
}

.bgc-atomic-tangerine {
    background-color: $bg-primary;
}