.footer{
    background-color: $bg-primary;
    p{
        color: $color-very-dark-red!important;
        text-align: center;
    }
    &__social {
        max-width: 600px;
        padding: 0;
        margin: 2rem auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
        .icon-md {
            font-size: 35px!important;
            transition: all 200ms;
            &:hover{
                transform: scale(1.15);
            }
        }
    }
}

