$bg-primary: #F3976C;
$bg-secondary: #FFFFFF;
$bg-dark-slate-blue: #364577;

$color-primary: #575757!important;
$color-secondary: #FFFFFF!important;
$color-atomic-tangerine: #F3976C;
$color-olive-drab: #333333!important;
$color-very-dark-red: #441111;

$color-secondary-hover: #cccccc!important;