//$bg-primary: #ca4e14;
$bg-primary: #F3976C;
$bg-secondary: #FFFFFF;
$bg-dark-slate-blue: #364577;

$bg-primary-hover: #c27956!important;

$color-primary: #575757!important;
$color-secondary: #FFFFFF!important;
$color-atomic-tangerine: #F3976C;
$color-olive-drab: #333333!important;

$color-secondary-hover: #cccccc!important;